<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>cordie.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/members/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LogInExec</servlet-name>
        <servlet-class>cordie.LogInExec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPicture</servlet-name>
        <servlet-class>cordie.DisplayPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiagramList</servlet-name>
        <servlet-class>cordie.DiagramList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInExec</servlet-name>
        <url-pattern>/LogInExec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPicture</servlet-name>
        <url-pattern>/members/DisplayPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiagramList</servlet-name>
        <url-pattern>/members/DiagramList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CordieEditor</servlet-name>
        <servlet-class>cordie.CordieEditor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CordieEditor</servlet-name>
        <url-pattern>/members/CordieEditor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- <resource-ref>
        <description>Database for CORDIE application</description>
        <res-ref-name>jdbc/CORDIE</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref> -->
</web-app>
